body {
}

button {
    width: 100px;
    height: 25px;
    font-family: 'VT323', monospace;
}

.chat-box {
    font-family: 'Source Code Pro', monospace;
    margin: 10px;
}

.user {
    font-weight: bold;
}