.container {
    border-width: 1px;
    border-style: solid;
    border-color: white dimgrey dimgrey white;
    padding: 0;
    background-color: #f7d5ee;
    width: 50%;
    margin-top: 200px;
    height: 50%;
}

.inner-window {
    background-color: azure;
}

.inner-window input {
    font-family: 'Source Code Pro', monospace;
}

.inner-window button {
    width: 100px;
    height: 25px;
    font-family: 'VT323', monospace;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    line-height: 1;
    text-align: center;
}

.window-title, span {
    line-height: 1;
    vertical-align: bottom;
    font-family: 'VT323', monospace;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2px;
    list-style: none;
    height: 19px;
}

.inner-window {
    border: 1px solid gray;
    margin: 0 4px 4px 4px;
}

.list-group-item {
    padding: 0px;
}

.material-icons {
    font-size: 16px;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-color: white dimgrey dimgrey white;
    background: lightgrey; 
}

li {
    display: inline-block;   
}

.lobby-title {
    font-family: 'Source Code Pro', monospace;
}